@import "tailwindcss";

@import "./styles/theme.css";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-image: var(--bg-gradient);
  color: white;
}

a { text-decoration: none; }
